@font-face {
  font-display: auto;
  font-style: normal;
  font-family: IBM-Flex, sans-serif;
  font-weight: 100;
  src: url("../font/ibm-flex/xlight.ttf") format("ttf");
}

@font-face {
  font-display: auto;
  font-style: normal;
  font-family: IBM-Flex, sans-serif;
  font-weight: 200;
  src: url("../font/ibm-flex/light.ttf") format("ttf");
}

@font-face {
  font-display: auto;
  font-style: normal;
  font-family: IBM-Flex, sans-serif;
  font-weight: 300;
  src: url("../font/ibm-flex/text.ttf") format("ttf");
}

@font-face {
  font-display: auto;
  font-style: normal;
  font-family: IBM-Flex, sans-serif;
  font-weight: 400;
  src: url("../font/ibm-flex/regular.ttf") format("ttf");
}

@font-face {
  font-display: auto;
  font-style: normal;
  font-family: IBM-Flex, sans-serif;
  font-weight: 500;
  src: url("../font/ibm-flex/medium.ttf") format("ttf");
}

@font-face {
  font-display: auto;
  font-style: normal;
  font-family: IBM-Flex, sans-serif;
  font-weight: 600;
  src: url("../font/ibm-flex/semibold.ttf") format("ttf");
}

@font-face {
  font-display: auto;
  font-style: normal;
  font-family: IBM-Flex, sans-serif;
  font-weight: 700;
  src: url("../font/ibm-flex/bold.ttf") format("ttf");
}

